{% extends "common/layout.njk" %}

{% block content %}
  <div class="defra-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Sign in to the Mural MCP Portal</h1>

          <p class="govuk-body-l">
            Use the portal to manage your connection to the Mural MCP, and to request new boards.
          </p>

          <a href="/login/callback" class="govuk-button govuk-button--start defra-hero__button">
            Sign in with your Defra account
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

          <p class="govuk-body">
            This is an internal service. You need a Defra account to sign in.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <aside class="defra-hero__whats-new">
            <h2 class="govuk-heading-s">What you can do</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Connect your Mural account to this service</li>
              <li>Request new Mural boards</li>
              <li>Track the status of your board requests</li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">If you cannot sign in</h2>

        <p class="govuk-body">
          Email the AI Capability and Enablement team at
          <a class="govuk-link" href="mailto:AICapabilityAndEnablement@defra.gov.uk">AICapabilityAndEnablement@defra.gov.uk</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
