{% extends "common/layout.njk" %}

{% set pageTitle = 'Connect your Mural account' %}
{% set breadcrumbs = [
  { text: "Dashboard", href: "/dashboard" },
  { text: "Connect your Mural account" }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Connect your Mural account</h1>

    <div class="govuk-notification-banner govuk-notification-banner--with-icon" role="alert">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title">
          Mural account required
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body">You tried to {{ reason }}, but this service isn't connected to your Mural account yet.</p>
      </div>
    </div>

    <p class="govuk-body">
      <a class="govuk-link" href="/account/mural-linking">Connect your Mural account</a> to continue.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/dashboard">Return to home without connecting</a>
    </p>
  </div>
</div>
{% endblock %}
