{% extends "common/layout.njk" %}

{% set pageTitle = 'Dashboard' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if muralStatusError %}
        <div class="govuk-notification-banner govuk-notification-banner--with-icon" role="alert">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title">
              Unable to check connection status
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">We couldn't check your Mural connection status. Please try again later.</p>
          </div>
        </div>
      {% elif muralLinked %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title">
              Connected
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">Your Mural account is connected.</p>
          </div>
        </div>
      {% else %}
        <div class="govuk-notification-banner govuk-notification-banner--with-icon" role="alert">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title">
              Mural account not connected
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              <a class="govuk-link" href="/account/mural-linking">Connect your Mural account</a> to request and manage boards.
            </p>
          </div>
        </div>
      {% endif %}

      <ul class="defra-tile-grid defra-tile-grid--half">
        <li>
          <div class="defra-tile">
            <h3 class="govuk-heading-s defra-tile__title">
              <a class="defra-tile__link" href="/approvals">My approvals</a>
            </h3>
            <p class="govuk-body-s defra-tile__body">View the status of your Mural board approval requests.</p>
          </div>
        </li>
        <li>
          <div class="defra-tile">
            <h3 class="govuk-heading-s defra-tile__title">
              <a class="defra-tile__link" href="/board-requests/new">Request a board</a>
            </h3>
            <p class="govuk-body-s defra-tile__body">Ask for a new Mural board to be set up.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
