@use 'govuk-frontend' as *;

.app-tick-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $govuk-border-colour;

  li {
    display: flex;
    gap: govuk-spacing(3);
    padding: govuk-spacing(2) 0;
    border-bottom: 1px solid $govuk-border-colour;
    font-size: 15px;
  }

  span:first-child {
    color: govuk-colour('green');
    font-weight: bold;
    flex-shrink: 0;
  }
}
